:root {
  --tf-c-white: #ffffff;
  --tf-c-white-soft: #f8f8f8;
  --tf-c-white-mute: #f2f2f2;

  --tf-c-black: #181818;
  --tf-c-black-soft: #222222;
  --tf-c-black-mute: #282828;

  --tf-c-red: #800101;
  --tf-c-red-soft:#FF9E9E;
  --tf-c-yellow:#FED500;

}

:root {
  --color-background: var(--tf-c-white);
  --color-background-soft: var(--tf-c-white-soft);
  --color-background-mute: var(--tf-c-white-mute);

  --color-border: var(--tf-c-red);
  --color-border-hover: var(--tf-c-red-soft);

  /*--color-heading: var(--vt-c-text-light-1);*/
  --color-text: var(--tf-c-black);

  --section-gap: 160px;
}
@theme{
    --color-red:var(--tf-c-red);
    --color-red-soft:var(--tf-c-red-soft);
    --color-yellow:var(--tf-c-yellow);
}



*,
*::before,
*::after {
  box-sizing: border-box;
  /*margin: 0.25rem;*/
  /*font-weight: normal;*/
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
    font-family: Roboto, sans-serif;
  /*font-size: 15px;*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

