@import './base.css';
@import "tailwindcss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
}

/*a,*/
/*.red {*/
/*  text-decoration: none;*/
/*  color: var(--tf-c-red);*/
/*  transition: 0.4s;*/
/*  padding: 3px;*/
/*}*/

h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    padding-bottom: 1rem;
}

.h2-red{
    text-align: left;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--tf-c-red);
    padding: 0.5rem 0;
}

.h2-white{
    text-align: left;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    padding: 0.5rem 0;
}


h3{
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--tf-c-red);
    padding: 0.5rem 0;
}


@media (hover: hover) {
  a:hover {
    background-color: var(--tf-c-red-soft);
  }
}

