@import './base.css';
@import "tailwindcss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.red {
  text-decoration: none;
  color: var(--tf-c-red);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--tf-c-red-soft);
  }
}

